nav {
    background-color: #e1a53a;
}

body {
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 3px;
    padding-right: 3px;   
    margin-bottom: 100px;
}

h1,h2 {
    color: black;
    text-decoration: underline;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;

}

.social-icons img {
    width: 50px;
    margin-right: 10px;
}
.card-img-top{
    height: 400px;
    width: 250px;
    margin: auto;
}
  label[for="pregunta"] {
    display: block;
    margin-bottom: 10px;
}
p{
    font-family: 'Ubuntu', sans-serif;
}
.rounded-card {
    border-radius: 15px;
    margin-bottom: 15px;
}
.enlace-agrandable {
    transition: transform 0.3s;
}

.enlace-agrandable:hover {
    transform: scale(1.1);
}
body {
    background-image: url("media/biblio bart.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

footer {
    background-color: #e1a53a;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 100px;
}

footer ul {
    list-style: none;
}