{% extends 'core/base.html'%}
{% load static %}
{% block title %} Acerca de {% endblock %}

{% block content %}
<h1>Acerca de los Integrantes</h1>

  <footer>
      {% block footer %} {% endblock %}
  </footer>


<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Conozcan a cada uno
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body" style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="{%static 'media/Tiago.jpeg'%}" class="card-img-int" alt="Tiago.jpeg">
          <div class="card-body">
            <h5 class="card-title">Tiago Mijael Uriel Barconte</h5>
            <p class="card-text">Gmail: tiagobarconte57@gmail.com</p>
            <p class="card-text">DNI: 46525328</p>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
          <img src="{%static 'media/Facundo.jpeg'%}" class="card-img-int" alt="Facundo.jpeg">
          <div class="card-body">
            <h5 class="card-title">Facundo Nicolas Zambrano</h5>
            <p class="card-text">Gmail: facundozambrano761@gmail.com</p>
            <p class="card-text">DNI: 45560875</p>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
          <img src="{%static 'media/Mauro.jpeg'%}" class="card-img-int" alt="Mauro.jpeg">
          <div class="card-body">
            <h5 class="card-title">Mauro Isaac Torres</h5>
            <p class="card-text">gmail: maurotorres561@gmail.com</p>
            <p class="card-text">DNI: 39930117</p>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<a href="https://www.youtube.com/watch?v=ARRtfmQXBlg&ab_channel=Baratz" target="_blank">Que es los que busca esta biblioteca</a>
{% endblock %}
