<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Mi sitio web |{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{%static 'styles/styles.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <img src="{%static 'media/Logo.jpeg'%}" alt="logo.img" height="20%" width="10%">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active enlace-agrandable border border-dark rounded ms-2" aria-current="page" href="home" style="color: black;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active enlace-agrandable border border-dark rounded ms-2" aria-current="page" href="{% url 'libros' %}" style="color: black;">Biblioteca</a>
            </li>
            <li class="nav-item">
              <a class="nav-link enlace-agrandable border border-dark rounded ms-2" href="{% url 'prestamos' %}" style="color: black;">Préstamos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link enlace-agrandable border border-dark rounded ms-2" href="contacto" style="color: black;">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link enlace-agrandable border border-dark rounded ms-2" href="acercade" style="color: black;">Acerca de</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      {% block content %} {% endblock %}
</body>
<footer>
  <p class="datos">Datos de contacto</p>
        <ul>
            <li>Correo: BibliotecaDeBart@gmail.com</li>
            <li>Telefono: </li>
        </ul>
  {% block footer %} {% endblock%}  
</footer>
</html>