{% extends 'core/base.html'%}
{% load static %}
{% block title %} Contacto {% endblock %}

{% block content %}
    <h1>Equipo alfa buena maravilla onda dinamita escuadrón lobo</h1>
    <main>
        <p class="ubicacion">Ubicacion: Lorem ipsum dolor sit amet, consectetur.</p>
        <p>Comentanos cual es tu duda: </p>
        <form>
            <label for="nombre">Nombre/s: </label>
            <input type="text" id="nombre" name="nombre"><br><br>
            <label for="apellido">Apellido/s: </label>
            <input type="text" id="apellido" name="apellido"><br><br>
            <label for="email">Correo: </label>
            <input type="text" id="email" name="email"><br><br>
            <label for="pregunta">Que quieres saber? </label>
            <textarea id="pregunta" name="pregunta" rows="5" cols="100"></textarea><br><br>
            <input type="submit" value="Enviar">
        </form>
        <p class="redesSociales">Tambien visitanos en: </p>
        <ul class="social-icons">
            <li>
                <a href="https://www.facebook.com/">
                    <img src="{%static 'media/facebook.png'%}" alt="Facebook">
                </a>
            </li>
            <li>
                <a href="https://www.twitter.com/">
                    <img src="{%static 'media/x.png'%}" alt="Twitter">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com">
                    <img src="{%static 'media/instagram.png'%}" alt="Instagram">
                </a>
            </li>
        </ul>
    </main>
        <footer>
            {% block footer %} {% endblock %}
        </footer>

{% endblock %}