{% extends 'core/base.html'%}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
    <main>
        <h1>Biblioteca de los sueños de  Bart</h1>
        <p class="proposito">PROPOSITO: La Biblioteca de los sueños de Bart es un lugar donde las personas pueden explorar sus  sueños e ideas. Ofrecemos una amplia variedad de recursos y programas para personas de todas las edades, desde libros y revistas hasta películas y programas culturales. Estamos comprometidos a fomentar la creatividad, la inspiración y la diversión.</p>
    </main>
    <div class="Videos">
      <h2>Videos de los sprints</h2>
      <div class="list-group">
        <a href="https://youtu.be/t5QjNXnhniE" class="list-group-item list-group-item-action list-group-item-secondary">Sprint Nº1</a>
        <a href="https://youtu.be/VAlyu88JbDE" class="list-group-item list-group-item-action list-group-item-secondary">Sprint Nº2</a>
        <a href="https://youtu.be/IFR4bUrXWoA" class="list-group-item list-group-item-action list-group-item-secondary">Sprint Nº3</a>
      </div>
    </div>
      <footer>
          {% block footer %} {% endblock %}
      </footer>
{% endblock %}