{% extends 'core/base.html'%}
{% load static %}
{% block title %} Libros {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 search">
      <form method="get">
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input type="text" class="form-control" placeholder="Buscar" name="search" value="{{ request.Get.search }}">
            <span class="input-group-list">
              <i class=" icon icon-search"></i>
              <button type="submit" class="boton btn-success">Buscar</button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% include 'book/includes/alerta.html' %}
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFoor" aria-expanded="false" aria-controls="panelsStayOpen-collapseFoor">
        Nuevos libros
      </button>
    </h2>
    <div class="row">
      {% for libro in libro_list %}
        <div class="col-md-4 mb-4">
          <div id="panelsStayOpen-collapseFoor" class="accordion-collapse collapse">
            <div class="accordion-body">
              <div class="card mb-3" style="width: 18rem; border-radius: 15px;"> <!-- Agregado border-radius para esquinas redondeadas y mb-3 para margen inferior -->
                <img src="{{libro.image.url}}" class="card-img-top" alt="libro.jpeg">
                <div class="card-body">
                  <h5 class="card-title">{{libro.title}}</h5>
                  <p class="card-text">{{libro.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Autor: {{libro.autor}}</li>
                  <li class="list-group-item">ID: {{libro.ide}}</li>
                  <li class="list-group-item">ISBN: {{libro.isbn}}</li>
                  <li class="list-group-item">Quedan: {{libro.number}}</li>
                  <li class="list-group-item">Estado: {{libro.estado}}</li>
                  <a class="btn btn-primary" href="{% url 'update' libro.id %}" role="button">Editar</a>
                  <a class="btn btn-primary" href="{% url 'delete' libro.id %}" role="button">Borrar</a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<a class="btn btn-primary" href="{% url 'create' %}" role="button">Agregar</a>
{% block footer %} {% endblock %}

{% endblock %}