{% extends 'core/base.html'%}
{% load static %}
{% block title %} Prestamos {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 search">
      <form method="get">
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input type="text" class="form-control" placeholder="Buscar" name="search" value="{{ request.GET.search }}">
            <span class="input-group-list">
              <i class=" icon icon-search"></i>
              <button type="submit" class="boton btn-success">Buscar</button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      {% for prestamo in prestamo_list %}
        <div class="col-md-12 mb-4">
          <div class="card mb-3" style="border-radius: 15px;">
            <div class="card-body">
              <h5 class="card-title">Libro Prestado: {{ prestamo.libro.title }}</h5>
              <p class="card-text">Fecha de Préstamo: {{ prestamo.fechaPrestamo }}</p>
              <p class="card-text">Fecha de Devolución: {{ prestamo.fechaDevolucion }}</p>
              <p class="card-text">Cliente: {{ prestamo.cliente }}</p>
              <p class="card-text">DNI del cliente: {{ prestamo.dniCliente }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
<p><a class="nav-link" href="{% url 'solicitar' %}">Solicitar nuevo prestamo</a></p>
{% block footer %} {% endblock %}

{% endblock %}